<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find smartrail_hostctrl)/custom_rosconsole.conf"/>
  <arg name="port" default="/dev/ttySAC0" doc="native serial port attached to the PGS" />
  <arg name="baud" default="9600" doc="baud rate" />
  <arg name="flow" default="false" doc="flow control true/false" />
  <arg name="csize" default="8" doc="character size" />
  <arg name="parity" default="N" doc="parity ?" />
  <arg name="stops" default="1" doc="stop bits" />
  <arg name="output" default="log" doc="where to show the output" /> 
  <arg name="lag_interval" default="0.0" doc="leave a short period of time between target lock and resolution" /> 
  <!-- if debug is set, we'll have to alter the launch-prefix -->
  <arg name="debug" default="false"/>

  <group if="$(arg debug)">
    <node pkg="smartrail_hostctrl" type="pgs_node" name="pgs_node" output="$(arg output)"
      launch-prefix="gdb --tui --args">
      <param name="port" value="$(arg port)" />
      <param name="csize" value="$(arg csize)" />
      <param name="flow" value="$(arg flow)" />
      <param name="parity" value="$(arg parity)" />
      <param name="stops" value="$(arg stops)" />
      <param name="baud" value="$(arg baud)" />
      <param name="lag_interval" value="$(lag_interval)" />
    </node>
  </group>

  <group unless="$(arg debug)">
    <node pkg="smartrail_hostctrl" type="pgs_node" name="pgs_node" output="$(arg output)">
      <param name="port" value="$(arg port)" />
      <param name="csize" value="$(arg csize)" />
      <param name="flow" value="$(arg flow)" />
      <param name="parity" value="$(arg parity)" />
      <param name="stops" value="$(arg stops)" />
      <param name="baud" value="$(arg baud)" />
      <param name="lag_interval" value="$(lag_interval)" />
    </node>
  </group>
</launch>
